In [137]:
import pandas as pd

# –ó–∞–≥—Ä—É–∑–∫–∞ —Ñ–∞–π–ª–∞ (–ø—Ä–µ–¥–ø–æ–ª–∞–≥–∞–µ–º, —á—Ç–æ –æ–Ω –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ —Ç–æ–π –∂–µ –ø–∞–ø–∫–µ, —á—Ç–æ –∏ –±–ª–æ–∫–Ω–æ—Ç)
df = pd.read_csv("Desktop/soundcloud_tracks.csv", sep=";")

In [139]:
# –£–±–µ–∂–¥–∞–µ–º—Å—è, —á—Ç–æ –Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã –∑–∞–≥—Ä—É–∂–µ–Ω—ã
print(df.columns)

Index(['tag', 'name', 'listens', 'likes', 'comments',
       'user_tags'],
      dtype='object')

In [141]:
# –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏ —Å –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
df = df.dropna(subset=["listens", "likes", "comments"])

In [143]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É 
df["listens"] = pd.to_numeric(df["listens"], errors='coerce')
df["likes"] = pd.to_numeric(df["likes"], errors='coerce')
df["comments"] = pd.to_numeric(df["comments"], errors='coerce')

In [145]:
# –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ = 0
df = df[df["comments"] != 0]
df = df[df["listens"] != 0]
df = df[df["likes"] != 0]

In [147]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤—Å—ë –≤ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞
df["listens"] = df["listens"].astype(int)
df["likes"] = df["likes"].astype(int)
df["comments"] = df["comments"].astype(int)

In [149]:
# –ü—Ä–æ–≤–µ—Ä—è–µ–º –¥–∞–Ω–Ω—ã–µ
df.head()

,–¢–µ–≥,–ù–∞–∑–≤–∞–Ω–∏–µ —Ç—Ä–µ–∫–∞,listens,likes,–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏,–¢–µ–≥–∏ –∏–∑ —Ç—Ä–µ–∫–∞
0,hip-hop,Life for Hip Hop Cheema Y,745149,5509,48,NaN
1,hip-hop,Life For Hip Hop,419364,2322,6,NaN
2,hip-hop,Belt Boyz,1213117,26154,303,NaN
3,hip-hop,Gunna - Spending Addiction,641858,6866,19,NaN
4,hip-hop,Gunna - Helluva Price,692327,8244,25,NaN

In [151]:
# –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—É —Å –æ—á–∏—â–µ–Ω–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏
df.to_csv("soundcloud_tracks_cleaned.csv", index=False)

In [157]:
print("\nüîé –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ:")
print(df.info())

print("\nüìä –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞:")
print(df.describe())

print("\n‚ùì –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π:")
print(df.isnull().sum())

print("\nüî¢ –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ:")
print(df.nunique())

print("\nüß™ –ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞:")
print(df.head())

üîé –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ:
<class 'pandas.core.frame.DataFrame'>
Index: 144 entries, 0 to 149
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tag             144 non-null    object
 1   name            144 non-null    object
 2   listens         144 non-null    int64
 3   likes           144 non-null    int64
 4   comments        144 non-null    int64
 5   user_tags       74 non-null     object
dtypes: int64(3), object(3)
memory usage: 7.9+ KB
None

üìä –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞:
         listens             likes      comments
count   1.440000e+02  1.440000e+02    144.000000
mean    8.780972e+06  1.197664e+05   2323.506944
std     2.235430e+07  2.771642e+05   6186.081206
min     2.200000e+01  1.000000e+00      1.000000
25%     3.623402e+05  5.620000e+03     38.000000
50%     1.607252e+06  2.544200e+04    279.500000
75%     8.513123e+06  1.041660e+05   1538.500000
max     2.118294e+08  2.542058e+06  45394.000000

‚ùì –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π:
tag                0
name               0
listens            0
likes              0
comments           0
user_tags         70
dtype: int64

üî¢ –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ:
tag                 6
name              141
listens           144
likes             144
comments          126
user_tags          70
dtype: int64

üß™ –ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞:
       tag                        name       listens  likes     comments  \
0  hip-hop   Life for Hip Hop Cheema Y         745149   5509           48
1  hip-hop            Life For Hip Hop         419364   2322            6
2  hip-hop                   Belt Boyz        1213117  26154          303
3  hip-hop  Gunna - Spending Addiction         641858   6866           19
4  hip-hop       Gunna - Helluva Price         692327   8244           25

  user_tags
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN